# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.melos_tool/
.pub-cache/
build/

# Generated iOS/Android files
android/.gradle/
android/local.properties
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
